; begin auth token
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/registry/:username=gargi2299
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/:username=gargi2299
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/gargi2299/artifact-crete/_packaging/test-artifact/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
